.head {
    display: flex;
    align-items: center;
    background: #ffc9c9;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    width: 95%;
    height: 20px;
    font-weight: 500;
}



.panel-arrow-img {
    width: 20px;
    transition: all 0.2s ease;
}

.activate-panel {
    transition: all 0.2s ease;
    transform: rotate(270deg);
    transform-origin: center;
}

.deactivate-panel {
    transition: all 0.2s ease;
    transform: rotate(180deg);
    transform-origin: center;
}

.content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease; /* 使用过渡 */
}

.empty {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease; /* 使用过渡 */
}